@model ViewModels.InventoryDetailEditViewModel

@{
    ViewBag.Title = "افزودن اختلاف حساب" ;
    Layout = "~/Views/Shared/BackEndLayout/_BackEndLayout.cshtml";
}

<h2>افزودن @Html.DisplayNameFor(model => model)</h2>


<div class="panel panel-primary">
	<div class="panel-heading">
		مشخصات محصول
	</div>
	<div class="panel-body">
		<div class="row">
		
			<div class="col-md-6">
				<div class="row">
					<label class="col-md-2">محصول</label>
					<div class="col-md-10">@Model.Title</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<label class="col-md-2">رنگ</label>
					<div class="col-md-10">@Model.ColorTitle</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<label class="col-md-2">تشک</label>
					<div class="col-md-10">@Model.MattressTitle</div>
				</div>
			</div>
		</div>
	</div>
</div>

@using (Html.BeginForm("Create", "InventoryDetails",FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
			@Html.ValidationMessage("invalidQty")
	
	

    <div class="form-horizontal">        
        @Html.ValidationSummary(true)

        <div class="form-group">
        
        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                    @Html.EditorFor(model => model.Quantity)

                @Html.ValidationMessageFor(model => model.Quantity)
            </div>
        </div>

        
       
        <div class="form-group" id="buttons">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ایجاد" class="btn btn-primary" />
				@Html.ActionLink("بازگشت به فهرست", "Index",new{id= ViewBag.inventoryId })
            </div>
        </div>
        </div>
</div>
}

