@model ViewModels.OrderEditViewModel
@{
		ViewBag.Title = "ویرایش فاکتور";
		Layout = "~/Views/Shared/BackEndLayout/_BackEndLayout.cshtml";
}

<div class="panel panel-primary disable-all-input">
	<div class="panel-heading">
		<label>@ViewBag.Title کد @Model.Order.Code</label>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-6">
				<label class="col-md-3">انتخاب شعبه*:</label>
				<div class="col-md-9 ">
					@Html.DropDownList("BranchId", null, "انخاب شعبه", new { @class = "form-control" })


				</div>
			</div>
			<div class="col-md-6">
				<label class="col-md-3">تاریخ فاکتور:</label>
				<div class="col-md-9 ">
					@(Html.Kendo().DatePickerFor(m => m.Order.OrderDate))
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<label class="col-md-3">تلفن همراه*:</label>
				<div class="col-md-9 ">
					<input type="text" id="CellNumber" value="@Model.Order.User.CellNum" class="form-control" placeholder="تلفن همراه" />
				</div>
			</div>
			<div class="col-md-6">
				<label class="col-md-3">تاریخ تحویل:</label>
				<div class="col-md-9 ">
					@(Html.Kendo().DatePickerFor(m => m.Order.RecieveDate))
				</div>
			</div>
		</div>



		<div class="row">
			<div class="col-md-6">
				<label class="col-md-3">نام مشتری*:</label>
				<div class="col-md-9 ">
					<input type="text" id="fullName" value="@Model.Order.User.FullName" class="form-control" placeholder="نام مشتری" />
				</div>
			</div>
			<div class="col-md-6">
				<label class="col-md-3">تلفن:</label>
				<div class="col-md-9 ">
					<input type="text" id="Phone" class="form-control" value="@Model.Order.Phone" placeholder="تلفن" />
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-6">
				<label class="col-md-3">آدرس:</label>
				<div class="col-md-9 ">
					<input type="text" id="address" value="@Model.Order.Address" class="form-control" placeholder="آدرس" />
				</div>
			</div>
			<div class="col-md-6">
				<label class="col-md-3">نوع حمل:</label>
				<div class="col-md-9 ">
					@Html.DropDownList("ShipmentTypeId", null, "نوع حمل", new { @class = "form-control" })
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-4">
				<label class="col-md-3">استان:</label>
				<div class="col-md-9 ">
					@Html.DropDownList("ProvinceId", null, "انتخاب استان", new { @class = "form-control" })
				</div>
			</div>
			<div class="col-md-4">
				<label class="col-md-3">شهر:</label>
				<div class="col-md-9 ">
					@Html.DropDownList("CityId", null, "انتخاب شهر", new { @class = "form-control" })


				</div>
			</div>
			<div class="col-md-4">
				<label class="col-md-3">محله:</label>
				<div class="col-md-9 ">
					@Html.DropDownList("RegionId", null, "انتخاب محله", new { @class = "form-control" })




				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading">فاکتور</div>
					<div class="panel-body">
						<table id="factor" class="table table-responsive">
							<thead class="thead-dark">
							<tr>
								<th scope="col">نام محصول</th>
								<th scope="col">رنگ</th>
								<th scope="col">تشک</th>
								<th scope="col">تعداد</th>
								<th scope="col">قیمت واحد</th>
								<th scope="col">قیمت کل</th>

								<th scope="col">#</th>
								@*<th scope="col">توضیحات</th>*@
							</tr>
							</thead>
							<tbody>

							@foreach (var detail in Model.OrderDetails)
							{
								<tr>

									<td>@detail.Product.Title</td>
									@if (detail.ProductColorId != null)
									{
										<td>@detail.ProductColor.Title</td>
									}
									else
									{
										<td>-</td>
									}
									@if (detail.MattressId != null)
									{
										<td>@detail.Mattress.Title</td>
									}
									else
									{
										<td>-</td>
									}

									<td class="qtytable">@detail.Quantity</td>
								@*	<td class="qtytable"><input id="@(String.Format("{0}{1}", "qty", detail.ProductId))" class="qty" onkeyup="return changeRowTotal(this.id, 3)" value="@detail.Quantity" /></td>*@ 
									@if (detail.ProductColorId == null)
									{
										<td class="amounttable">@detail.AmountStr </td>
										@*<td class="amounttable"><input id="@(String.Format("{0}{1}", "amount", detail.ProductId))" onkeyup="return changeRowTotal(this.id, 3)" value="@detail.AmountStr" /> </td>*@
										<td id="@(String.Format("{0}{1}", "rowAmount", detail.ProductId))">@detail.RowAmountStr</td>
									}
									else
									{
										decimal amountDecimal = detail.Amount + detail.ProductColor.Amount;
										string rowAmount = (amountDecimal * detail.Quantity).ToString("n0") + " تومان";

										string amount = amountDecimal.ToString("n0") + " تومان";
										<td class="amounttable">@amount</td>
										@*<td class="amounttable"><input id="@(String.Format("{0}{1}", "amount", detail.ProductId))" onkeyup="return changeRowTotal(this.id, 3)" value="@amount" /> </td>*@
										<td id="@(String.Format("{0}{1}", "rowAmount", detail.ProductId))">@rowAmount</td>
									}
								@{
									var identity2 = (System.Security.Claims.ClaimsIdentity) User.Identity;
									string role2 = identity2.FindFirst(System.Security.Claims.ClaimTypes.Role).Value;
									if (role2.ToLower() != "factory")
									{
										<td><i class="fa fa-remove" onclick="removeRow('@detail.ProductId');"></i></td>
									}
								}
									</tr>
							}
							</tbody>

						</table>



					</div>
					<div class="panel-footer">
						<div class="row">

							<div class="col-md-6">
								<table>
									<tr>
										<td></td>
										<td><input type="button" value="به روز رسانی جمع کل" onclick="updateFactor();" class="btn btn-warning" /></td>
									</tr>
									<tr>
										<td>جمع کل</td>
										<td id="total">@Model.Order.SubAmountStr</td>
									</tr>
									<tr>
										<td>
											هزینه های اضافه شونده (تومان)
										</td>
										<td>
											<input type="text" class="form-control" id="addedAmount" value="@Model.Order.AdditiveAmountStr" onKeyUp="return changeTotalOrder()" />
										</td>
									</tr>
									<tr>
										<td>
											هزینه های کسر شونده (تومان)
										</td>
										<td>
											<input type="text" class="form-control" id="decreasedAmount" value="@Model.Order.DiscountAmountStr" onKeyUp="return changeTotalOrder()" />
										</td>
									</tr>

									<tr>
										<td>
											جمع کل فاکتور (تومان)
										</td>
										<td>
											<input type="text" class="form-control" id="totalAmount" readonly="readonly" value="@Model.Order.TotalAmountStr" />
										</td>
									</tr>


									<tr>
										<td>
											مبلغ پرداختی
										</td>
										<td>
											<input type="text" class="form-control" id="payment" value="@Model.Order.PaymentAmountStr" onKeyUp="return changeTotalOrder()" />
										</td>
										<td>
											@Html.DropDownList("PaymentTypeId", null, "نوع پرداخت", new { @class = "form-control" })
										</td>
									</tr>


									<tr>
										<td>
											مبلغ باقی مانده
										</td>
										<td>
											<input type="text" class="form-control" id="remainAmount" readonly="readonly" value="@Model.Order.RemainAmountStr" />
										</td>
									</tr>


									<tr>
										<td>
											توضیحات
										</td>
										<td>
											<textarea class="form-control" id="desc" placeholder="توضیحات"></textarea>
										</td>
									</tr>

								</table>
								<p class="alert alert-success" id="submit-succes">ثبت اطلاعات با موفقیت انجام شد.</p>
								<p class="alert alert-danger" id="submit-error"></p>
							</div>

							<div class="col-md-6">
			

							
									<div class="panel panel-primary">
										<div class="panel-heading">ارسال همه یا بخشی از سفارش از کارخانه</div>
										<div class="panel-body">
									
												<table>
													<tr>
														<td>
															توضیحات برای کارخانه
														</td>
														<td>
															<textarea class="form-control" id="factorydesc" placeholder="توضیحات">@Model.Order.FactoryShipmentDesc</textarea>
														</td>
													</tr>

													<tr>
														<td>
															توضیحات فاکتور
														</td>
														<td>
															<textarea class="form-control" readonly="readonly" id="order-desc" placeholder="توضیحات فاکتور">@Model.Order.Description</textarea>
														</td>
													</tr>
												@{
													var identity = (System.Security.Claims.ClaimsIdentity) User.Identity;
													string role = identity.FindFirst(System.Security.Claims.ClaimTypes.Role).Value;
													if (role.ToLower() != "factory")
													{
														<tr>
															<td></td>
															<td>
																<button class="btn btn-success" onclick="SendOrderToFactory();">ارسال محصولات از کارخانه</button>
															</td>
														</tr>
													}
												}
												</table>

												<p class="alert alert-success" id="submitsendFactoru-succes">درخواست شما برای کارخانه ارسال شد.</p>
												<p class="alert alert-danger" id="submitsendFactoru-error"></p>
										 
								
										</div>
									</div>
							
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>

@section scripts{
	<script>
		$('.disable-all-input input').attr('readonly', true);
		$('.disable-all-input select').attr('disabled', true);
	</script>
}